body {
  font: 14px "Lucida Grande", Helvetica,  Arial, sans-serif;
  height: auto;
  background-image: url(https://s3.amazonaws.com/f.cl.ly/items/3a2h193d3W3O0L3g2U43/octocat_darkwood.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: black;
  background-position-x: 50%;
  padding-top: 50px;
}

a {
  color: #00B7FF;
}

.search-holder {
  transform: translateY(5vh);
}

#input_text {
  color: #9e9e9e;
}

#input_text:focus {
  color: #26a69a;
}

.character-counter {
  transform: translateY(-30px);
  color: #26a69a;
}

.flex {
  display: flex;
}

.input-field {
  margin-right: auto;
}

.collection {
  border: none;
  transform: translateY(1px);
}

.active + .collection {
  border-top: 1px solid #26a69a;
}

div.collection-item {
  opacity: .9;
  transition: .25s;
  color: #26a69a;
  cursor: pointer;
}

.results-container {
  height: 80vh;
  width: 80vw;
  max-width: 1000px;
  position: fixed;
  padding-top: 15px;
  border-radius: 5px;
  bottom: 0;
  left: 50%;
  z-index: -3;
  background-color: rgba(0, 0, 0, .5);
  overflow: scroll;
  background-image: linear-gradient(to bottom, rgba(255,255,255,.5), transparent 35%, transparent);
  opacity: 1;
}

.off-screen {
  transform: translate(-50%, 81vh);
}

.transparent {
  opacity: 0;
}

.user-card {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 2.5px auto 55px auto;
  padding-right: 20px;
  color: rgba(255,255,255,.75);
}

.user-name {
  cursor: pointer;
}

.avatar {
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  border-radius: 2px;
}

.followers {
  color: #26a69a;
}

.followers-list {
  justify-content: space-around;
  flex-wrap: wrap;
}

.follower-card {
  display: flex;
  width: 45.1%;
  justify-content: space-between;
  color: rgba(255,255,255, .5);
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 10px;
  outline: solid 1.26vw transparent;
  box-sizing: content-box;
  cursor: pointer;
}
.follower-card:hover {
  outline: solid 1.26vw rgba(255,255,255, .15);
  background-color: rgba(255,255,255, .15);
  color: #26a69a;
}

.follower-card:nth-last-of-type(odd) {
  padding-right: 5px;
}

.follower-card:nth-last-of-type(even) {
  padding-left: 5px;
}

.small-avatar {
  height: 100px;
  width: 100px;
  background-image: url(https://avatars2.githubusercontent.com/u/15271788?v=3);
  background-repeat: no-repeat;
  background-size: contain;
}

.load-button {
  width: 45%;
  height: 15%;
  margin: 100px auto 100px auto;
  color: rgba(255,255,255,.75);
  background-color: #363636;
  background-image: linear-gradient(45deg, hsla(0,0%,0%,.25) 25%, transparent 25%, transparent 75%, hsla(0,0%,0%,.25) 75%, hsla(0,0%,0%,.25)), linear-gradient(45deg, hsla(0,0%,0%,.25) 25%, transparent 25%, transparent 75%, hsla(0,0%,0%,.25) 75%, hsla(0,0%,0%,.25));
  background-position:0 0, 2px 2px;
  background-size:4px 4px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 1.25em;
  border-radius: 5px;
  transition: all .75s;
  cursor: pointer;
  font-size: 1.75em;
}

.load-button:hover {
  color: #26a69a;
}

.disabled {
  visibility: hidden;
  margin-bottom: 0;
}

@media (max-width: 450px) {
  .followers-list {
    width: 90%;
    justify-content: space-between;
    flex-direction: column;
  }

  .follower-card {
    width: 90%;
    justify-content: space-between;
  }
}
